<div id="container" class="container">
  <div class="row">

    <div class="col-sm-6 offset-sm-4 text-center">
      <h1 class="col-sm-7 display-6 my-4">Registrar usuario</h1>
      <div class="info-form ">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="col-sm-7">

          <!--Se ocupa div con class form-group para agrupar controles-->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <!--El icono cambia  a verde si el contenido del input Email es valido, de lo contrario se pone en rojo.
                    Las estilos green-icon y red-icon están en el archivo principal de styles.cc -->
                  <i class="fas fa-user-circle" [class.green-icon]="Email.valid" [class.red-icon]="Email.invalid  && Email.touched"></i>
                </div>
              </div>
              <!-- El atributo ngModel nos permite asociarle al control un atributo de un objeto declarado en el serviceRegistrar, recordar que el serviceRegistrar es inyectado
              por dependencia en el constructor -->
              <!--El atributo required establece un control obligatorio-->
              <input type="email" name="Email" #Email="ngModel" [(ngModel)]="serviceRegistrar.formData.Email" class="form-control" placeholder="Email" required />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <!--El icono cambia  a verde si el contenido del input Password es valido, de lo contrario se pone en rojo.
                    Las estilos green-icon y red-icon están en el archivo principal de styles.cc -->
                  <i class="fas fa-key" [class.green-icon]="Password.valid" [class.red-icon]="Password.invalid  && Password.touched"></i>
                </div>
              </div>
              <!-- El atributo ngModel nos perite asociarle al control un atributo de un objeto declarado en el serviceRegistrar, recordar que el serviceRegistrar es inyectado
              por dependencia en el constructor -->
              <!--El atributo required establece un control obligatorio-->
              <input name="Password" #Password="ngModel" [(ngModel)]="serviceRegistrar.formData.Password" class="form-control" placeholder="Password" required
                     maxlength="10" minlength="10" type="password" />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <!--El icono cambia  a verde si el contenido del input ConfirmPassword es valido, de lo contrario se pone en rojo.
                  Los estilos green-icon y red-icon están en el archivo principal de styles.cc -->
                  <i class="fas fa-key" [class.green-icon]="ConfirmPassword.valid" [class.red-icon]="ConfirmPassword.invalid  && ConfirmPassword.touched"></i>
                </div>
              </div>
              <!-- El atributo ngModel nos perite asociarle al control un atributo de un objeto declarado en el serviceRegistrar, recordar que el serviceRegistrar es inyectado
              por dependencia en el constructor -->
              <!--El atributo required establece un control obligatorio-->
              <input name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="serviceRegistrar.formData.ConfirmPassword" class="form-control" placeholder="Confirm password" required
                     maxlength="10" minlength="10" type="password" />
            </div>
          </div>

          <div class="form-group">
            <!--El atributo disabled no permite desabilitar el botón si los datos del control son invalidos-->
            <button class="btn btn-success" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

